.container {
    width: 1632px;
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    
    @media (min-width: 1024px) {
        padding: 116px 0 0 0;
    }

    @media (max-width: 1023px) {
        padding: 76px 0 0 0;
    }
}