include button

.contact 
    .container.contact__container 
        .contact__background
            img(src="/src/assets/contact.svg")
        h2.white= "We’ll help you explore all the nuances and advantages of Tipper"
        +button("primary", "Contact the manager", "/", "src/assets/arrow.svg")