include button

.contact 
    .container.contact__container 
        .contact__background
            img(src="/src/assets/contact.svg")
        +button("primary", "Contact the manager", "/", "src/assets/arrow.svg")
        h2.white= "سنساعدك في استكشاف جميع ميزات Tipper ونقاط قوته."