include button

section.section.gratuity
    .container.gratuity__container 
        .gratuity__image.from-desktop
            img(src="/src/assets/gratuity.svg", alt="#")
        .gratuity__description
            h2= "معنا ترتقي بمستوى تقدير موظفيك وولائهم إلى عنان السماء "
            .gratuity__image.is-tablet
                img(src="/src/assets/gratuity.svg", alt="#")
            .gratuity__text
                | يمنحك استخدم نظام الإكرامية الإلكتروني الذي نوفره لك لزيادة حجم المكافأة حتى 30٪ وأكثر، وهو أمر لا غنى عنه للحفاظ على ولاء موظفيك وتحفيزهم على تحسين الأداء.
            p
                | قد يشجع موظفوك عملائك على استخدام Tipper في الوقت المناسب مع مجموعة من الحلول المخصصة:
            ul 
                li= "إرفاق بطاقة بلاستيكية بها رمز استجابة سريع شخصي مع الإيصال"
                li= "وضع لافتة صغيرة تتضمن جميع المعلومات ذات الصلة، أ"
                li= "ملصق لطيف جذاب"
            p
                | بهذه الطريقة سيرفع الموظف دخله وستتلقى أنت بصفتك المالك تعليقات صادقة وقيمة.

            
            +button("primary", "Increase loyalty", "/", "src/assets/plus.svg")

        