.itsFree
    .container.itsFree__container
        .itsFree__image.lazy__wrapper
            img(src="/src/assets/itsFree-preview.png", alt="preload").lazy.is-preloader
            img(data-src="/src/assets/itsFree-ar.png", alt="itsFree-ar").lazy.is-main
        .itsFree__description
            p
                | لا حاجة لتنزيل التطبيق - ستقترح صفحة الويب المنبثقة سهلة الاستخدام تقديم الإكرامية لموظفك باستخدام               
                img(src="/src/assets/pay.png" alt="pay") 
                |  أو بطاقة الائتمان/ الخصم المباشر، كما تتضمن نموذج الملاحظات، الذي يتيح لعملائك التعبير عن رأيهم.