.itsFree
    .container.itsFree__container
        .itsFree__image.lazy__wrapper
            img(src="/src/assets/itsFree-preview.png", alt="preload").lazy.is-preloader
            img(data-src="/src/assets/itsFree.png", alt="itsFree").lazy.is-main
        .itsFree__description
            p
                | No need to download the App – the user-friendly 
                | pop-up webpage will suggest tipping your employee 
                | using
                img(src="/src/assets/pay.png" alt="pay")
                | or a credit/debit card. 
            p
                | The feedback form is also here: let your clients tick and say what they want.