section.section.muscle
    .container.muscle__container
        .muscle__description 
            h2
                | عزز فريقك
            p
                | استخدم حسابك على Tipper لتتبع أداء موظفيك وتحديد نقاط قوتهم وما يحتاجونه من تطوير.
            p
                | يُسهِّل Tipper الأمر من خلال الرسائل الشخصية ورسائل البريد الإلكتروني للموظفين التي تحتوي على إشارات حول الارتقاء بمهاراتهم المهنية.  
                | يتيح نموذج توزيع الإكراميات الشخصية (إن أمكن) للموظفين المؤثرين أن يروا نتائج عملهم وجهدهم ويحفز الآخرين على بذل المزيد من الجهد.         
        .muscle__image.lazy__wrapper
            img(src="/src/assets/muscle-preview.png", alt="preload").lazy.is-preloader
            img(data-src="/src/assets/muscle.png", alt="muscle").lazy.is-main