section.section.muscle
    .container.muscle__container
        .muscle__description 
            h2
                | Muscle Up
                br
                | Your Team
            p
                | Use your Tipper personal account to track 
                | your employees` performance, identify their
                span= "strengths and areas for development."
            p= "Tipper makes it easy with personal messages and emails for employees containing cues on upscaling professional skills."
            p= "Personal tips distribution model (if applicable) lets impactful employees see results of their hard work and motivates others to go that extra mile."
        .muscle__image.lazy__wrapper
            img(src="/src/assets/muscle-preview.png", alt="preload").lazy.is-preloader
            img(data-src="/src/assets/muscle.png", alt="muscle").lazy.is-main