section.section.numbersDontLie
    .container.numbersDontLie__container 
        h2= "الأرقام لا تكذب"
        .numbersDontLie__left
            .numbersDontLie__text 
                | اجعل عملية جمع الإكرامية رقمية ووزعها شخصيًا بناءً على أداء كل موظف أو بشكل جماعي.
            img(src="/src/assets/numbers-left.svg")
        .numbersDontLie__right
            .numbersDontLie__text                 
                |  تتبع متوسط ​​مؤشرات أداءك وتحكَّم في نموها عبر دمج Tipper في نظام نقطة البيع الذي تستخدمه بمنتهى السهولة لتتبع متوسط ​​نسبة إكرامية لكل فاتورة.
            img(src="/src/assets/numbers-right.svg")