section.section.numbersDontLie
    .container.numbersDontLie__container 
        h2= "Numbers Don`t lie"
        .numbersDontLie__left
            .numbersDontLie__text 
                | Digitize the tips collecting process, distribute them
                span= "personally" 
                |  based on the employee`s performance or create 
                span= "a shared tip pool."
            img(src="/src/assets/numbers-left.svg")
        .numbersDontLie__right
            .numbersDontLie__text 
                span= "Track your average performance indicators" 
                |  and control their growth. Tipper can be easily integrated into the POS system you use to let you track the average percent of tips per check.
            img(src="/src/assets/numbers-right.svg")