section.section.response
    .container.response__container

        .response__image.lazy__wrapper.from-desktop
            img(src="/src/assets/reactive-preview.png", alt="preload").lazy.is-preloader
            img(data-src="/src/assets/reactive.png", alt="reactive").lazy.is-main

        .response__description 
            h2.white
                | الاستجابة التفاعلية للارتقاء بمستوى السمعة
            .response__image.lazy__wrapper.is-tablet
                img(src="/src/assets/response-s-preview.png", alt="preload").lazy.is-preloader
                img(data-src="/src/assets/response-s.png", alt="reactive").lazy.is-main
            .response__text 
                p
                    | تعامل مع التعليقات السلبية فورًا - بينما لا يزال العميل في منشأتك.
                p 
                    | من خلال الإشعارات الفورية في برامج المراسلة الشائعة وعبر البريد الإلكتروني، لن تفوتك التعليقات السلبية من العميل. ارفع مستوى مصداقيتك من خلال الحل الفوري والسريع للمشكلات.



        