section.section.response
    .container.response__container
        .response__description 
            h2.white
                | Reactive Response
                br
                | to Fuel Reputation Level
            .response__text 
                p
                    span= "Handle negative feedback right away" 
                    |  – while a customer is still at your facility. 
                p
                    | With instant 
                    span= "notifications" 
                    |  in popular messengers and by email, you will not miss 
                    | a customer`s negative feedback. 
                a(href="/")= "Raise your credibility level by solving problems here and now."

        .response__image.lazy__wrapper
            img(src="/src/assets/reactive-preview.png", alt="preload").lazy.is-preloader
            img(data-src="/src/assets/reactive.png", alt="reactive").lazy.is-main