include button

.topSection
    .topSection__background.lazy__wrapper
        img(src="/src/assets/gradient-ar-preview.png", alt="preload").lazy.is-preloader
        img(data-src="/src/assets/gradient-ar.png", alt="itsFree").lazy.is-main
    .container.topSection__container
        .topSection__description
            .topSection__label= "free for your bussines"
            h1= "لأول مرة: عبَّر عن امتنانك رقميًا"
            .topSection__image.lazy__wrapper.is-mobile
                img(src="/src/assets/topSection-preview.png", alt="preload").lazy.is-preloader
                img(data-src="/src/assets/topSection-ar.png", alt="topSection").lazy.is-main
            .topSection__text
                | عما قريب، سيصبح عالمنا عالمًا رقميًا بامتياز، وهو أمر يجب على كافة الأعمال التجارية مجاراته في إطار علاقتها الودودة مع عملائها.
                | رغم أن عملائك لم يعودوا يستخدمون النقود كما سبق، ما زالوا يريدون شكرك على ما تقدمه لهم من خدمة تتسم بالجودة.                
                <br>
                a(href="/")
                    | لما لا تدعهم يفعلون ذلك بدون نقود، وبدون تلامس، وبلا قلق!

            .buttons-group
                +button("link", "How it work", "/", "src/assets/arrow.svg")
                +button("primary", "Get started", "", "src/assets/plus.svg").js-open-modal

        .topSection__image.lazy__wrapper.from-tablet
            img(src="/src/assets/topSection-preview.png", alt="preload").lazy.is-preloader
            img(data-src="/src/assets/topSection-ar.png", alt="topSection").lazy.is-main