.aboutUs {
  background-color: #131313;

  &__list {
    display: grid;
    gap: 1px;
    background-color: #666;
    border: 1px solid #666;
    overflow: hidden;
    
    @media (min-width: 768px) {
      grid-template-columns: repeat(5, 1fr);
      border-radius: 15px;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      border-radius: 6px;
    }
  }

  &__item {
    border: 1px solid transparent;
    padding: 25px;
    text-align: center;
    background-color: #131313;
  }
}
