.contact {
    background-color: #131313;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @media (min-width: 768px) {
            gap: 0 64px;
            padding: 211px 15px 272px 15px;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 53px 15px 95px 15px;
            gap: 40px 0;
        }
    }

    &__background {
        position: absolute;

        @media (min-width: 1024px) {
            top: 50%;
            left: 0;
            height: 100%;
            max-height: 526px;
            transform: translateY(calc(-50% - 36px));
            width: 100%;
            object-fit: contain;
            object-position: center;
        }

        @media (max-width: 1023px) {
            top: 0;
            left: 15px;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        img {
            display: block;
            height: 100%;
            max-width: unset;

            @media (max-width: 1023px) {
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    h2 {
        z-index: 2;
        position: relative;
        margin: 0;
        width: 100%;
        max-width: 1035px;
        
        @media (min-width: 1024px) {
            font-size: 48px;
            line-height: 1.2;
            padding-left: 110px;
        }

        @media (max-width: 1023px) {
            font-size: 20px;
            line-height: 130%;
        }
    }

    .button {
        z-index: 2;
        position: relative;
    }
}