.culture {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    background-color: #fff;

    &__container {
        display: flex;
        gap: 0 64px;
    }

    &__image {
        @media (min-width: 768px) {
            width: 50.5%;
        }

        @media (max-width: 767px) {
            max-width: 654px;
            width: 100%;
            margin-top: -60px;
        }
    }

    &__description {
        @media (min-width: 768px) {
            width: 49.5%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
        max-width: 654px;
        margin: 0 0 0 auto;
    }

    span {
        display: inline-block;
        padding: 0 6px;
        background: #E0F067;
        border-radius: 5px;
    }
}