.features {
    background-color: #131313;

    &__container {
        background: #6E58F1;
        border-radius: 15px;
    }

    &__list {
        display: flex;
        align-items: center;
        
        @media (min-width: 768px) {
            padding: 50px 32px;
        }

        @media (max-width: 767px) {
            padding: 30px 45px;
        }

        @media (max-width: 699px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        
        @media (min-width: 1240px) {
            width: calc(100% / 3 - (108px / 3));
        }

        @media (max-width: 1239px) and (min-width: 700px) {
            width: calc(100% / 3 - (40px / 3));
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @media (max-width: 699px) {
            width: 100%;
            max-width: 230px;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        svg {
            flex-shrink: 0;
            
            @media (min-width: 1240px) {
                width: 190px;
                height: 190px;
            }
            @media (max-width: 1239px) and (min-width: 700px) {
                width: 120px;
                height: 120px;
            }
            @media (max-width: 699px) {
                width: 190px;
                height: 190px;
            }
        }
    }

    &__description {
        color: #fff;
        
        @media (min-width: 1240px) {
            padding: 0 20px;
        }
    }

    &__title {
        margin: 0 0 19px 0;
        font-weight: 600;
        line-height: 130%;
        
        @media (min-width: 1240px) {
            font-size: 36px;
        }
        @media (max-width: 1239px) {
            font-size: 32px;
        }
    }

    &__arrow {
        
        @media (min-width: 1240px) {
            width: 54px;
            height: 22px;
        }
        @media (max-width: 1239px) and (min-width: 700px) {
            flex-shrink: 0;
            width: 20px;
            height: 22px;
        }
        @media (max-width: 699px) {
            flex-shrink: 0;
            width: 33px;
            height: 54px;
            transform: rotate(90deg);
        }
    }
}