.howItWork {
    background-color: #131313;
    overflow: hidden;
    
    @media (min-width: 1024px) {
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        padding-bottom: 156px;
    }

    @media (max-width: 1023px) and (min-width: 768px) {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding-bottom: 40px;
    }

    @media (max-width: 767px) {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-bottom: 24px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px 64px;

        .button {
            margin-bottom: 70px;
        }
    }

    &__list {
        display: flex;
        gap: 0 20px;
        
        @media (max-width: 767px) {
            padding: 47px 0 20px 0;
            margin-bottom: 60px;
            margin-top: -50px;
            overflow-x: auto;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 36px 30px 36px;
        border: 1px solid #666666;
        border-radius: 15px;
        
        @media (min-width: 768px) {
            width: calc(100% / 3 - (40px / 3));
        }

        @media (max-width: 767px) {
            flex-shrink: 0;
            width: 274px;
        }

        img {
            width: 300px;
            height: 240px;
        }
    }

    &__number {
        position: absolute;
        border-radius: 100%;
        background-color: #6E58F1;
        font-family: 'RFDewiExtended';
        font-weight: 400;
        text-align: center;
        color: #FFFFFF;
        
        @media (min-width: 1024px) {
            top: 24px;
            left: 24px;
            width: 54px;
            height: 54px;
            font-size: 26px;
            line-height: 52px;
        }

        @media (max-width: 1023px){ 
            top: -20px;
            left: 14px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            line-height: 38px;
        }
    }

    &__description {
        margin: 20px 0 0 0;
        color: #FFFFFF;
        text-align: center;
    }

    &__title {
        margin: 0 0 5px 0;
        color: #9989FB;
        
        @media (min-width: 1024px) {
            font-size: 32px;
            line-height: 125.5%;
        }

        @media (max-width: 1023px){ 
            font-size: 26px;
            line-height: 120%;
        }
    }

    .button {
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}