.partners {
  background-color: #131313;
  padding-bottom: 38px;

  h2 {
    text-align: center;
  }

  &__list {
    position: relative;
    height: 109px;
    margin: 0 0 20px 0;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    gap: 0 20px;

    &--reverse {

      .partners__item {
        animation: autoScroll 20000ms linear infinite;
        animation-direction: reverse;
        // animation: none;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 250px;
    height: 109px;
    padding: 36px;
    border: 1px solid #272727;
    border-radius: 15px;
    animation: autoScroll 20000ms linear infinite;
  }
}

@keyframes autoScroll {
  100% {
    transform: translateX(calc(-270px * 10));
  }
}