.topSection {
  position: relative;
  background-color: #131313;
  @media (min-width: 1240px) {
    min-height: 100vh;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    object-fit: cover;
    object-position: center;

    @media (max-width: 1239px) and (min-width: 768px) {
      left: unset;
      top: unset;
      bottom: 0;
      right: 0;
    }

    @media (max-width: 767px) {
      height: 645px;
    }

    img {
      max-width: unset;
      width: auto;
      height: 100%;
      left: -200px;

      &.is-main {
        top: unset;
        left: -200px;
        bottom: 0;
        right: unset;
        max-width: unset;
        width: auto;
        height: 100%;
      }

      @media (max-width: 1023px) and (min-width: 768px) {
        left: -200px;

        &.is-main {
          left: -200px;
        }
      }

      @media (max-width: 767px) {
        transform: translateX(10%);
      }
    }
  }

  &__container {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 100px;
    padding-bottom: 40px;

    @media (min-width: 1240px) {
      min-height: 100vh;
    }
  }

  &__image {
    @media (min-width: 768px) {
      position: absolute;
      left: 0;
      height: 100%;
    }

    @media (min-width: 1240px) {
      width: 57.8125%;
      top: 35px;
    }

    @media (max-width: 1239px) and (min-width: 768px) {
      top: 35px;
      right: -85px;
      width: 524px;
      display: flex;
      align-items: flex-end;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    img {
      @media (min-width: 1240px) {
        max-width: unset;
        width: auto;
        height: 100%;

        &.is-main {
          max-width: unset;
          width: auto;
          height: 100%;
        }
      }

      @media (max-width: 1239px) and (min-width: 768px) {
        width: 100%;

        &.is-main {
          width: 100%;
          top: unset;
          bottom: 0;
        }
      }

      @media (max-width: 767px) {
      }
    }
  }

  &__description {
    @media (min-width: 1240px) {
      width: 42.1875%;
      text-align: right;
    }

    @media (max-width: 1239px) and (min-width: 768px) {
      width: 45%;
    }

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__label {
    display: inline-block;
    @media (min-width: 1240px) {
      margin: 100px 0 76px 0;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 10px;
    }
    @media (max-width: 1239px) {
      margin: 28px 0 16px 0;
      padding: 4px 10px;
      font-size: 12px;
      border-radius: 5px;
    }

    border: 1px solid #e0f067;
    line-height: 130%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #e0f067;
  }

  &__text {
    @media (min-width: 1240px) {
      margin: 0 0 76px 0;
      max-width: 665px;
    }

    @media (max-width: 1239px) {
      margin: 0 0 43px 0;
      max-width: 340px;
      font-size: 16px;
    }

    a {
      color: #9989fb;
      @include easing;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  h1 {
    @media (min-width: 1240px) {
      margin: 0 0 50px 0;
      font-size: 96px;
    }
    @media (max-width: 1239px) {
      margin: 0 0 27px 0;
      font-size: 40px;
    }

    font-family: "RFDewiExtended";
    line-height: 100%;
    font-weight: 600;
    color: #f3f2f2;
  }

  .button {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
